@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/HelveticaNeueThin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/HelveticaNeueMedium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/HelveticaNeueHeavy.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/HelveticaNeueBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/HelveticaNeueBlack.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue';
}

.text-align {
    text-align: justify;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
    
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

.bg_img {
    background-image: url('https://www.pexels.com/photo/calm-body-of-lake-between-mountains-346529/');
}

.accordion-button {
    background-color: #e0e0e0;
    color: #000;
    font-weight: bold;
  }
  
  .accordion-button:not(.collapsed) {
    color: #000;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-body {
    background-color: #f9f9f9;
  }
  