* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 250px;
    margin: 50px;
    color: white;
    font-size: 18px;
    background-color: transparent;
    font-family: sans-serif;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 20px #14EACF,
                1px 1px 40px #14EACF;
    animation: anime 1s linear infinite;
  }
  
  .box:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .box:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  @keyframes anime {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  
  