@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/HelveticaNeueThin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/HelveticaNeueMedium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/HelveticaNeueHeavy.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/HelveticaNeueBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/HelveticaNeueBlack.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

/* Font Styles */
.font-light {
    font-weight: 300;
}
  
.font-regular {
    font-weight: 400;
}
  
.font-medium {
    font-weight: 500;
}
  
.font-bold {
    font-weight: 700;
}
  
.font-black {
    font-weight: 800;
}