* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue';
}

.all_projects_content {
    text-align: center;
    color: #1d1d1d;
}

.all_projects_content h1 {
    text-decoration: underline;
}

.all_projects_content .filter_projects {
    justify-content: center;
}

.all_projects_content .border-box {
    color: red !important;
    gap: 5;
  }

.img-fluid {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

.image-container {
    position: relative;
  }
  
  .image-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .image-wrapper img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
  }
  
  .image-wrapper:hover img {
    opacity: 0.7;
  }
  
  .image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-wrapper:hover .image-caption {
    opacity: 1;
  }
  
  .filter_projects .nav-link {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    background-color: #f8f9fa;
    text-align: center;
    color: #007bff;
  }
  
  .filter_projects .nav-link:hover {
    background-color: #e9ecef;
    border-color: #007bff;
    color: #0056b3;
  }
  
  .filter_projects .nav-link.active {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
  }
  